.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  border: 0;
  transition: filter 0.2s;
  padding: 0 20px;

  img {
    padding: 13px;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &.outlined {
    background-color: #fff;
    border: 1px solid #317ff3;
    color: #317ff3;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
