.room-code {
    height: 48px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #2c7ef8;
    cursor: pointer;
    display: flex;

    div {
        background-color: #2c7ef8;
        padding: 0 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    span {
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 16px 0 12px;
        width: 230px;
        font-size: 14px;
        font-weight: 500;
    }

    &:not(:disabled):hover {
        filter: brightness(0.9);
    }
}
